@import "normalize.css";
@import "fonts.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}

/* ============== HEADER ============== */
.header {
    background-color: #635854;
    padding: 12px 0;
    border-bottom: 4px solid #3596f5;
}

.navbar {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.navbar-menu {
    max-width: 670px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 16px;
    text-align: center;
}

.navbar-item {
    margin: 0 40px;
}

a.navbar-link {
    color: #fff;
}

.navbar-contacts {
    text-align: right;
}

.navbar-text {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}

.navbar-tel {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
}

/* ============== MAIN ============== */
.main {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 54px;
    display: flex;
}

.home-image path {
    opacity: 0;
    cursor: pointer;
}

.home-image path:hover {
    opacity: 1;
}

.main-info {
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;
}

.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-button {
    background-color: #fff;
}

.counter-arrow-down {
    transform: rotateX(180deg);
}

h2.main-title {
    font-family: "Bebas-Neue", sans-serif;
    font-size: 37px;
    line-height: 37px;
    font-weight: normal;
    color: #635854;
}

span.counter {
    font-family: "Bebas-Neue", sans-serif;
    font-size: 124px;
    color: #635854;
    margin-bottom: 10px;
}

.button-primary {
    background-color: #3596f5;
    padding: 16px 36px;
    border-radius: 6px;
    color: #fff;
}
