@import "normalize.css";
@import "fonts.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}

/* ============== HEADER ============== */
.header {
    background-color: #635854;
    padding: 12px 0;
    border-bottom: 4px solid #3596f5;
}

.navbar {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.navbar-menu {
    max-width: 670px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 16px;
    text-align: center;
}

.navbar-item {
    margin: 0 40px;
}

a.navbar-link {
    color: #fff;
}

.navbar-contacts {
    text-align: right;
}

.navbar-text {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}

.navbar-tel {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
}

/* ============== MAIN ============== */
.main {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 54px;
    display: flex;
}

.home-image path {
    opacity: 0;
    cursor: pointer;
}

.home-image path:hover {
    opacity: 1;
}

.main-info {
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;
}

.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-button {
    background-color: #fff;
    height: 30px;
}

.counter-arrow {
    transition: all 0.3s ease-in-out;
}

.counter-arrow:hover {
    transform: scale(1.6);
}

h2.main-title {
    font-family: "Bebas-Neue", sans-serif;
    font-size: 37px;
    line-height: 37px;
    font-weight: normal;
    color: #635854;
}

span.counter {
    font-family: "Bebas-Neue", sans-serif;
    font-size: 124px;
    color: #635854;
    margin-bottom: 10px;
}

.button-primary {
    background-color: #3596f5;
    padding: 16px 36px;
    border-radius: 6px;
    color: #fff;
}

/* ============== MODAL ============== */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s;
}

.is-open {
    opacity: 1;
    transform: scale(1);
}

.modal-dialog {
    flex-grow: 1;
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    opacity: 0;
    position: relative;
    overflow: hidden;
    transform: translateY(-10%);
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.2s;
}

.is-open > .modal-dialog {
    opacity: 1;
    transform: translateX(0);
}

.modal-image {
    background-color: #ebebeb;
    width: 60%;
    text-align: center;
    padding: 50px;
}

.flats path {
    opacity: 0;
}

.flats path:hover {
    opacity: 1;
    cursor: pointer;
}

.modal-title {
    font-family: "Bebas-Neue", sans-serif;
    font-size: 24px;
    line-height: 24px;
}

.modal-info {
    width: 40%;
    padding: 50px 46px;
}

.flat-list {
    margin-top: 55px;
    list-style: none;
}

.flat-item:not(:last-child) {
    margin-bottom: 10px;
}

.flat-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
}

.flat-link:hover {
    text-decoration-line: underline;
    color: #3596f5;
}

.modal-alert {
    margin-top: 55px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
}

.modal-close-button {
    position: absolute;
    top: 38px;
    right: 27px;
    background-color: #fff;
}
